section{
    width:80%;
    height:800px;
    background-image:  url( https://miro.medium.com/max/1400/1*xMuIOwjliGUPjkzukeWKfw.jpeg);
    background-size: cover;
    background-position: top;
    margin: 0 auto;

}
h1{
    font-size: 100px;
    color:white;
}